[2021-10-29 00:41] manugarg opened #3 "Support specifying prober interval / timeouts as durations"
Copied from https://github.com/google/cloudprober/issues/611, originally filed by @vadimberezniker.

It would be nice if the prober config supported specifying durations as user-friendly strings.
i.e.
[code]
instead of
[code]

+1ed by @benner @manugarg

[2021-10-29 00:45] manugarg opened #4 "Support DNS SRV discovery"
_Copied from https://github.com/google/cloudprober/issues/468, originally filed by @BradErz_

Add support for dns srv records.

In our specific use case we are using mongodb atlas and they support SRV records so we don't have to specify each node in the replicaset.

[2021-10-29 00:47] manugarg opened #5 "Consider adding stackdriver profiler to Cloudprober"
_Copied from https://github.com/google/cloudprober/issues/126, originally filed by @manugarg_

Reference:
https://cloud.google.com/profiler/docs/profiling-go

Apparently profiler can add up-to 5% overhead. We can make it an optional feature.

[2021-10-29 03:44] manugarg opened #7 "Add support for AWS targets"
_Copied from https://github.com/google/cloudprober/issues/11, originally filed by @manugarg._

Cloudprober currently supports automatic expansion of GCE and Kubernetes targets. We should add support for AWS targets as well.

[2021-10-29 03:47] manugarg opened #8 "Add dynamic discovery support for consul catalog based targets"
_Copied from https://github.com/google/cloudprober/issues/316, originally filed by @manugarg._

Consul seems to be a popular option for service registry and discovery. Adding dynamic discovery support for consul based targets to cloudprober may be useful to users across cloud platforms.

Targets config for consul will probably look something like this:

[code]

[2021-10-29 15:08] cool-RR opened #16 "Allow debugging configuration templates, and playbook"
This issue started when the repository was under Google, see full context here: https://github.com/google/cloudprober/issues/651

This is a need I've had a few weeks ago, and now my teammate @maayanch has the same need as well.

We have a Cloudprober configuration template that may have different variables, different regular expressions that we match, etc. Sometimes it doesn't match the machines w

[2021-10-29 15:10] cool-RR opened #17 "Document templating language"
This issue started when the repository was under Google, see full context here: google/cloudprober#637

Cloudprober has some kind of templating language in its configuration. I couldn't figure out what language is that. Didn't find it on the readme or in the docs. It needs to be document because people need to know exactly what they can do with this language, and how.

Another thing that needs to

[2021-10-29 15:11] cool-RR opened #18 "[Documentation] Document file surfacer output"
This issue started when the repository was under Google, see full context here: google/cloudprober#633

I'm setting up a probing configuration that uses Cloudprober. I'm looking at Cloudprober output which looks similar to this:

[code]

I want to be able to read every line and understand every word of it. There should be documentation that explains it.

The specific output above is from the docs

[2021-10-30 18:03] manugarg commented on #4
Also copying @mweirauch's comment from https://github.com/google/cloudprober/issues/123#issuecomment-554340102:

[2021-11-02 06:41] manugarg opened #22 "Add surfacer for InfluxDB"
_Copied from google/cloudprober#71, originally filed by @manugarg_

It should be easy to add a surfacer for InfluxDB. InfluxDB measurements correspond to EventMetrics (EM) in cloudprober. "tag keys" and "tag values" correspond to EM labels, and "field keys" and "field values" correspond to EM metrics.

[2021-11-02 06:50] manugarg opened #23 "Add gRPC service for on-demand probe execution"
_Copied from https://github.com/google/cloudprober/issues/26, originally filed by @manugarg._

It will be useful to add a gRPC service to cloudprober that will allow on-demand probe execution.

[2021-11-02 06:52] manugarg opened #24 "Community Grafana Prometheus Dashboard"
_Copied from https://github.com/google/cloudprober/issues/142, originally filed by @dmicanzerofox._

While creating grafana dashboards for cloudprober metrics are not very hard, I would personally really enjoy seeing how other people view cloudprobers output. I was hoping that someone already had a grafana prometheus dashboard that they would be OK with publishing?

Thank you

[2021-11-02 06:52] manugarg commented on #24
@tklovett added:

Ditto on this. It would also be nice to have some community sanity-checking on what to monitor and how to monitor it accurately. I'll start!

### Overview
#### Current Probe State (SingleStat w/ spark line)
[code]

#### Success Rate
[code]

### Detailed View
#### Probe Latency (ms)
[code]

#### Probe Failure Rate (%)
[code]

#### Probe Response Status Codes (Stacked %)
[code]

[2021-11-02 07:01] manugarg opened #25 "Improve HTTP probe gap between targets for automatic discovery"
_Copied from https://github.com/google/cloudprober/issues/575, originally filed by @benner._

Improve HTTP probe gap between targets for automatic discovery

Current behavior (`interval_between_targets_msec`) is perfect for static target list but target list are updating dynamically (e. g. `file_targets`) all probes if there are changes has tendency to move to interval beginning.

I spot this poss

[2021-11-02 07:17] manugarg opened #26 "Target labels in probe options"
_Copied from https://github.com/google/cloudprober/issues/652, originally filed by @xenofree._

Hi,

Is it possible or will it be possible to configure probe option through file_target like this ?

[code]
[code]

[2021-11-02 07:18] manugarg commented on #26
My comment:

It's going to be hard to implement a generic label replacement mechanism.

The way it works in HTTP probe is:

If "relative_url" or "host" is not defined in the probe config, and target has these labels, it automatically uses these labels.
We can do something similar for DNS probe.

[2021-11-02 08:00] manugarg opened #27 "External prober should be able to retrieve external probe binary from remote location (GCS/S3/etc)"
I am not super sure about it, but it may allow for quick prototyping.

[2021-11-02 08:02] manugarg commented on #27
@DazWilkin's comment:

[2021-11-02 08:04] manugarg opened #28 "Will this support the new k8s Pod ready++ feature?"
_Copied from https://github.com/google/cloudprober/issues/337, originally filed by @renier._

@renier wrote:

@manugarg:

@renier:

[2021-11-06 17:16] nvidyala commented on #3
@manugarg I'd like to pick this up, could you please assign the issue to me?

[2021-11-06 20:21] manugarg commented on #3
@nvidyala Done. Thanks for picking this up.

[2021-11-20 07:07] #3 closed

[2021-12-09 22:29] rsvalerio opened #36 "Question - Is there a way to disable printing cloudprobe metrics to sdtout?"
I have a log collector that captures and I would like to avoid filtering it there, but instead, disable it in cloudprobe side, because metrics are escraped by prometheus already

Thanks

[2021-12-09 22:49] manugarg commented on #36
Yes. Cloudprober has this concept of surfacers: https://cloudprober.org/surfacers/overview/. By default it enables "prometheus" and "file" surfacers, and "file" surfacer writes to stdout by default. You can disable metrics to stdout by adding this to your config:

[code]

Explicitly specifying a surfacer disables the default behavior.

[2021-12-10 09:50] rsvalerio commented on #36
Thank you @manugarg
closing it

[2021-12-10 09:50] #36 closed

[2021-12-17 12:46] DenisBiondic opened #44 "Guidance on secure deployment"
Would it make sense to provide some guidance on running cloud prober in a secure way? For example:
- Dockerfile running as non-root
- Does CloudProber work with readonly file system
- Secure Kuberentes Deployment
- etc

[2022-01-02 16:22] clarkezone opened #58 "Add ARM binaries and docker image"
**Describe the feature you'd like and the problem it will solve**
Cloudprober doesn't current run out of the box on M1 macs or ARM based cloud hosting environments, it should.

[2022-01-04 02:30] manugarg commented on #58
I didn't mean to close it yet.

[2022-01-04 05:45] manugarg commented on #58
Multiarch images are available for the 'master' tag now:
[Docker hub: cloudprober/cloudprober:master](
https://hub.docker.com/layers/131728840/cloudprober/cloudprober/master/images/sha256-ebc0a2f5f63cf501935e50469efe2960843ddb246f7f158b9a9e2a071de7bc78?context=repo).

I'll enable them for release docker images ('latest', 'v..') after some time.

Pre-built binaries can be downloaded from the Github

[2022-01-07 04:44] manugarg commented on #58
Uploaded ARM binaries for the latest release v0.11.3.
https://github.com/cloudprober/cloudprober/releases/tag/v0.11.3

Also, updated the latest (also with tag v0.11.3) docker image:
https://hub.docker.com/layers/cloudprober/cloudprober/latest/images/sha256-6a3f217dc0f0d281f6d66c3fcc4a71b7de9e488fd1a2f234fac004a0af38d518?context=repo

[2022-01-07 04:44] #58 closed

[2022-01-12 23:08] manugarg commented on #58
Verified today that the 'latest' image works on M1 Macs.

[2022-02-02 17:50] haraldschioberg opened #75 ""latest" tag outdated"
**Describe the bug**
"latest" tag (0.11.3) is from before the migration to github.com/cloudprober . this means that 'go install' will fail.

Please add a new tag.

**Cloudprober Version**
0.11.3

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2022-02-03 01:18] manugarg commented on #75
Ah, good catch. Thanks for filing this bug @haraldschioberg. I'll do that shortly.

[2022-02-03 17:34] manugarg commented on #75
Done. Cut a new release v0.11.4.

[2022-02-03 17:34] #75 closed

[2022-02-07 12:51] momoXD007 opened #77 "Add resolved IP of http-probes' targets into a label"
In short I am probosing to add a label that informs the user to which ip a hostname was resolved. This helps to debug unstable DNS-configs or problems related to DNS-load-balancing.

### Usecase:
Imagine you use DNS load balancing and than thanks to your cloudprober metrics you get a warning that something is wrong.
However, it just tells you https://example.net/awesome-api is down. However, that

[2022-02-08 01:09] manugarg commented on #77
Thanks for filing a detailed enhancement request, @momoXD007. I think it makes sense. I want to give it more thought though.

If we do it, I think it will make sense to do it through [additional labels](https://cloudprober.org/how-to/additional-labels/).

[2022-02-08 08:04] manugarg commented on #77
Actually, now I remember that I had thought about some thing similar sometime back.

The right way to do this will be to store IP address in the endpoint.Endpoint struct and update it when we resolve it. It will then be easy to add IP to labels. It will take multiple changes to do this cleanly. I'll update this issue with a plan.

[2022-02-08 10:14] momoXD007 commented on #77
making this feature optional sounds like a good plan to me!
Thanks for considering my request :)

[2022-02-10 02:21] manugarg opened #78 "HTTP Probe: More deterministic number of connections with keep alive and multiple requests per probe."
## Use case

Let's say you have multiple HTTP backends behind a single VIP (IP, port combination) and you want your HTTP probes to the VIP to cover as many backends as possible. You can do it by disabling keep alive, but that adds an additional penalty of setting up a new TCP connection every time. To avoid that the "new TCP connection" penalty, you can possibly set `keep_alive` to true, but send

[2022-02-10 02:43] manugarg commented on #78
We can possibly solve this issue by using a different HTTP transport for requests within a probe cycle. I'll give it a try tonight.

[2022-02-10 10:16] manugarg commented on #78
As promised, PR: https://github.com/cloudprober/cloudprober/pull/79

[2022-02-12 10:50] manugarg opened #80 "IPv4 ping is broken on MacOS (Intel Chips)"
While trying to set up some monitoring at home, I discovered that IPv4 ping (PING probe) has been broken on Mac OS. That's because on darwin OS, `recvmsg` (underlying system call used by Go's [RecvMsgUDP and RecvMsgIP](https://github.com/cloudprober/cloudprober/blob/3e4c1e9c5e8fc9b11fa3667de1fefd269aefeb16/probes/ping/icmpconn_unix.go#L147) methods) behaves differently for IPv4 and IPv6. On IPv6 i

[2022-02-12 10:55] manugarg commented on #80
Here is how I found the proof that recvmsg doesn't strip IPv4 header on Mac OS:

Here is the IPv4 ping's code on Mac OS:
https://opensource.apple.com/source/network_cmds/network_cmds-306/ping.tproj/ping.c.auto.html

Search for the `pr_pack` function and you'll find that it tackles the IP Header before moving on the ICMP header. Look for the same function in ping6's code:

https://opensource.apple.

[2022-02-12 11:01] manugarg commented on #80
Fix for this will be to handle the packet offset explicitly for darwin OS and IPv4.

[2022-02-12 19:30] manugarg commented on #80
One discussion talking about where does IP header gets stripped: https://github.com/golang/go/issues/40143#issuecomment-656571397

[2022-02-13 20:28] manugarg commented on #80
Just checked on an Apple M1 MacBook, and surprisingly, IP_STRIPHDR socket option (mentioned in the summary above) seems to be working there. I am not sure what's going on, but offsetting IPv4 header manually (#81) seems to be the most reliable strategy on MacOS .

[2022-02-13 21:05] manugarg commented on #77
Possible implemetation: https://github.com/cloudprober/cloudprober/pull/82.

[2022-02-14 18:05] #80 closed

[2022-02-15 17:45] manugarg commented on #77
#82 has been merged. It will go out in the next release.

[2022-02-16 19:28] manugarg commented on #77
Closing this now. Please see #82 for how IP label can be added to the metrics.

[2022-02-16 19:28] #77 closed

[2022-02-17 18:04] manugarg opened #88 "Probes status in Cloudprober UI"
Currently Cloudprober runs probes, and surfaces the generated data (success, failure, latency, etc) to other metrics systems like Prometheus, Cloudwatch, etc. It itself doesn't expose data directly to the users in a way that is easy to interpret. It will be nice if it did that.

[2022-02-17 18:16] manugarg commented on #88
Cloudprober now already provides a way to configure surfacers to export probes data as GAUGE metrics. We can possibly implement a surfacer that collects the metrics internally (in-memory), and makes them available through a readable UI. For example, something like this:

|Probe | Status |
|------|-------|
|probe1 | GGRRGRGGG|
|probe2| RRGGGGGGG|

G,R stand for green and red color boxes.

Few thing

[2022-02-17 18:28] manugarg commented on #88
I think we can keep the probe's summary since the start of Cloudprober. Summary could be like:
Failure ratio in the last: 10m, 1h, 6h, 12h, 1d, 7d, 30d, 1y

[2022-02-17 19:54] manugarg commented on #88
I forgot that we'll need to include targets in above presentation. So it will likely look like:

|Probe | Target | Status| Summary (1h) | 12h | 1d | 7d | 30d | 1y |
|------|--------|-------|---------------|-----|----|----|----|---|
|probe1 | target1 | GGRRGRGGG| 99% | 99.7% | 99.6%| 99.5% | 99.6% |99.4%|
|probe1 | target2 |RRGGGGGGG| 98% | 97.9% | 97.5% | 97.2% | 96.9% | 98% |
|probe2 | target | G

[2022-02-23 22:08] manugarg opened #91 "Support for aggregating labeled payload metrics in external probe"
@networkop shared on Cloudprober slack:

[2022-02-23 22:09] manugarg commented on #91
This can probably be done. I don't fully recall now, but I think I skipped adding support for this as it would have required some refactoring. I'll think about it more and update tomorrow.

[2022-02-23 22:09] manugarg commented on #91
#90 is a possible implementation for this.

[2022-02-24 20:52] manugarg commented on #91
Merged #90, and also updated the documentation: https://cloudprober.org/how-to/external-probe/.

This will be go out in the next release: v0.11.5. You can use "master" docker tag or see https://github.com/cloudprober/cloudprober/wiki/Download-unreleased-binaries for how to use unreleased binaries in the meantime.

[2022-02-24 20:52] #91 closed

[2022-02-26 03:37] jtse opened #93 "HTTP probes don't refresh bearer tokens"
**Describe the bug**
My probes against a Google API were initially succeeding but failed with a 401 after an hour. Upon further debugging, I realized:

*  The [HTTP request is created once](https://github.com/cloudprober/cloudprober/blob/master/probes/http/http.go#L443) and used _repeatedly_ for each probe request.
*  The bearer token header is set at the time of HTTP request creation.
*  So in ef

[2022-02-26 03:41] manugarg commented on #93
Thanks for the bug report @jtse. I'll take a look at it.

[2022-02-26 03:46] manugarg commented on #93
I see, so we periodically get the new token here:
https://github.com/cloudprober/cloudprober/blob/1dfdd012c8efbad0695b717498ad8f46f9021055/probes/http/http.go#L595

But we recreate HTTP request only if we're resolving first (i.e. `resolve_first` is enabled):
https://github.com/cloudprober/cloudprober/blob/1dfdd012c8efbad0695b717498ad8f46f9021055/probes/http/http.go#L466

So one workaround for this

[2022-02-26 03:49] jtse commented on #93
Wow that was quick!  Thanks!

Yeah I tried the `resolve_first` but rather into some other resolution-related error, but didn't dig further.

[2022-02-26 09:13] manugarg commented on #93
Possible fix: https://github.com/cloudprober/cloudprober/pull/94

[2022-02-26 10:44] manugarg commented on #88
Just realized, we can show this summary on terminal as well.

An example program using [termbox-go](https://github.com/nsf/termbox-go) to show live ping results on terminal:
Demo: https://github.com/hirose31/pinger
Code: https://github.com/hirose31/pinger/blob/master/pinger.go

[2022-02-27 19:38] manugarg commented on #93
Merged the fix. This will go out in next release, mostly in a couple of weeks. You can use the "master" docker tag, or see https://github.com/cloudprober/cloudprober/wiki/Download-unreleased-binaries for how to use unreleased binaries in the meantime.

Once again thanks for reporting this bug @jtse.

[2022-02-27 19:38] #93 closed

[2022-02-28 03:07] jtse commented on #93
Thank you so much for the quick fix. I verified this is working w/ the latest Docker image.

[2022-02-28 17:49] manugarg commented on #93
Great. Thanks a lot for verifying!

[2022-03-03 01:28] manugarg opened #97 "Add TCP probe type"
Let's implement a TCP probe type, that will verify whether you can connect to a given target, at a given port. To begin with, we can limit the scope to just connection; later on we can add read/write data over that connection. We can also add TLS verification at a later stage.

[2022-03-03 01:28] manugarg commented on #97
#96 adds a basic TCP probe.

[2022-03-03 01:29] manugarg commented on #97
#96 adds a basic TCP probe.

[2022-03-03 16:47] #97 closed

[2022-03-03 20:21] manugarg opened #98 "Introduce the concept of negative test"
Negative test means verifying that something doesn't work, for example, you cannot access certain IPs, or certain ports on those IPs. These kinds of tests are particularly useful to verify that your firewall is working as expected.

I expect the concept of negative test to be useful at least for network connectivity probe types like PING, TCP, UDP. We can start with these probe types, and later on

[2022-03-04 09:25] hncrio opened #100 "PING probe false positive in podman environment"
**Describe the bug**
Host is not up but the success rate is %100

**Cloudprober Version**
0.11.4

**To Reproduce**
I am trying to run the container on podman which was installed via brew.

1. Crete Dockerfile and cloudprobe.cfg
$ cat Dockerfile
FROM docker.io/cloudprober/cloudprober
COPY cloudprober.cfg /etc/cloudprober.cfg

$cat cloudprober.cfg
probe {
  name: "cn01"
  type: PING
  targets {

[2022-03-04 09:57] manugarg commented on #100
@hncrio Thanks for reporting the bug. I'm not sure what might be going on here.

Have you tried running cloudprober outside of podman, similar to how you ran ping? You can download the binary from here: https://github.com/cloudprober/cloudprober/releases/download/v0.11.4/cloudprober-v0.11.4-linux-x86_64.zip

[2022-03-04 10:23] hncrio commented on #100
@manugarg  I am on MacOS 11.6.1
Binary works as expected.

#TYPE success counter
success{ptype="ping",probe="cn01",dst="172.16.10.108"} 0 1646388879829
#TYPE latency counter
latency{ptype="ping",probe="cn01",dst="172.16.10.108"} 0.000 1646388879829

[My current setup is described here in detail](https://www.redhat.com/sysadmin/podman-mac-machine-architecture)

[2022-03-04 10:50] manugarg commented on #100
I see. It seems like a podman environment issue then.

Looks like one of the ways to verify this issue will be to do this:

[code]

[2022-03-07 20:19] manugarg commented on #98
It's been implemented for TCP and PING probes. I'll open a separate issue for other probe types.

[2022-03-07 20:19] #98 closed

[2022-03-07 20:28] manugarg commented on #27
Other interesting options:

- We can fetch Python, Go, Shell code from Github (git-sync) as well, and then run that code through local Python interpreter, Go compiler, and Shell interpreter respectively.

There are a couple of changes required here:
- Provide a way to get files from Git.
- Provide a way to configure external probe to retrieve such code, and run it differently.

[2022-03-07 21:38] jtse opened #101 "Document debugging tips"
I think it would be useful to have a page on debugging tips. For example:

*  Use `--debug_log` for more verbose logging which will include the probe response.
*  Use `--disable_cloud_logging` to log to console rather than redirect to Stackdriver if you're on GCE.

I'm not sure of the best place to put these tips.

[2022-03-10 06:53] drigz opened #102 "Nil dereference in bearer.go"
**Describe the bug**
I observed the following segfault, I'm not 100% sure why:

[code]

**Cloudprober Version**
v0.11.5

**To Reproduce**

1. Enable GKE workload identity.
2. Run Cloudprober on GKE.
3. Create a probe with a bad Service Account name (there may be another way to reproduce this, IIRC I saw it with "default" initially but can't reproduce that now)

[code]

**Additional context**

It s

[2022-03-10 06:59] manugarg commented on #102
Ah, I see the root cause:

https://github.com/cloudprober/cloudprober/blob/81b0b5a5837b75b158a46d404b864df025ed34d7/common/oauth/bearer.go#L63

So every time there is an error in retrieving token from GCE compute, it will panic.

Thanks for reporting this. Submitting the fix for this shortly.

Since I just released v0.11.5, I'll cut a new release with the bug fix and combine release notes.

[2022-03-10 07:37] manugarg commented on #102
Cut a new release with the fix: [v0.11.6](https://github.com/cloudprober/cloudprober/releases/tag/v0.11.6).

Thanks a lot for reporting the bug, @drigz.

[2022-03-10 07:37] #102 closed

[2022-03-13 22:02] manugarg commented on #100
@hncrio I was wondering if you wanted to continue pursuing it, or we close it for now.

My guess is that podman networking has a role to play here. The best way to proceed will be to compare "ping" and "cloudprober" in the podman environment.

Let me know.

[2022-03-14 08:28] hncrio commented on #100
Sorry for the delay.  I am using the container image you released.
Ping binary is part of busybox I guess.

`$podman run -it --rm  --network host hncr.io/cloudprober:latest`

`$podman ps`
`CONTAINER ID  IMAGE                             COMMAND               CREATED     STATUS         PORTS                   NAMES`
`9dad99293770  hncr.io/cloudprober:latest                              2 days ago

[2022-03-14 09:32] manugarg commented on #100
If you install ping like this, that "ping" should work. It seems iputils' ping supports non-privileged ICMP.

[2022-03-14 09:49] hncrio commented on #100
Thanks, I confirm that this is an environment issue.
Spinning up an official fedora image with iputils installed, I get ICMP reply for all the IP addresses which does not exist in the network.
Sorry for the noise.

[2022-03-14 09:49] #100 closed

[2022-03-14 09:52] manugarg commented on #100
No problem. I got to learn a bit about podman because of this :). Cheers!

[2022-03-16 10:23] muntakimsadik opened #106 "Support for discovering GCP global forwarding rules targets"
Currently cloudprober can only discover forwarding rules that are tied to a region (https://github.com/cloudprober/cloudprober/blob/master/targets/gce/proto/config.proto#L53-L63). I need to probe targets that are configured as global forwarding rules. For that cloudprober needs the ability to discover global forwarding rules.

[2022-03-16 19:16] manugarg commented on #88
This is how it looks like at present:

<img width="702" alt="image" src="https://user-images.githubusercontent.com/1286425/158670292-1448fc14-5ffd-4a24-8d39-d30c6219c071.png">

[2022-03-28 18:30] manugarg opened #119 "[HTTP Probe] Add support for SSL cert expiration check"
If folks are already using HTTP probe, it will allow them to check for the certs expiration within the same probe.

There was a request for this feature sometime back:
https://github.com/google/cloudprober/issues/335

[2022-03-28 18:33] manugarg opened #120 "[HTTP Probe] Add an option to record and export latency breakdown"
Record and export latency for various stages like DNS, TLS, connect, etc. This feature should be enabled through an option to avoid affecting existing setups.

[2022-03-29 16:11] artherd42 opened #122 "IPv4 ping is broken on Flatcar Container Linux"
**Describe the bug**
When migrating our Kubernetes nodes from CoreOS to Flatcar Linux, the cloudprober ping probes stopped working with error message
[code]

ICMP reply looks like:
[code]
Apparently the same issue as reported in #80.

**Cloudprober Version**
v0.11.6

**Additional context**
I have temporarily fixed the issue by removing `runtime.GOOS == "darwin" &&` in code line
 https://github.com

[2022-03-29 16:21] manugarg commented on #122
Thanks for reporting this @artherd42, and the follow up investigation.

I think it's a bug in Flatcar Linux if it's not stripping IP header for recvmsg() system call. I wonder what they do differently, and if GNU ping does things differently on Flatcar Linux. I'll try to find out more.

[2022-03-29 16:40] artherd42 commented on #122
I have found [this code](https://github.com/kinvolk/linux/blob/v5.8.9-flatcar/net/ipv4/ping.c#L853-L941) for the ping_recvmsg call in the Flatcar Linux repo.

[2022-03-29 19:15] manugarg commented on #122
It seems "privileged" (RAW socket) IPv4 ping (`use_datagram_socket: false` option) has been broken on Linux for quite some time (same as MacOS maybe). It's possible I didn't find it earlier as all of my personal setup, and the setup at my current and previous employers, use the "unprivileged" (DGRAM socket) ping. I'll set up some integration tests for raw sockets as well.

Did you switch the `use_

[2022-03-29 19:59] manugarg commented on #122
Linux uses iputils package for ping implementation, and here is where it does different things based on RAW and DGRAM sockets:

Compute the IP header len:
https://github.com/iputils/iputils/blob/2410ed15e66a1acfcee03fee493276e1be6373e3/ping/ping.c#L1492

Move past the IP header:
https://github.com/iputils/iputils/blob/2410ed15e66a1acfcee03fee493276e1be6373e3/ping/ping.c#L1524

[2022-03-29 20:44] manugarg commented on #122
Leaving it open to get confirmation regarding this:

[2022-03-30 06:08] artherd42 commented on #122
No, I am still running the ping_probe with `use_datagram_socket: false`.

[2022-03-30 06:35] manugarg commented on #122
`use_datagram_socket: false` enables RAW sockets, that's case that was broken for IPv4 Linux. So, failure on Flatcar Linux is explainable.

However, I am surprised this option was working on CoreOS. Were you using the same Cloudprober version on CoreOS as well.

(FYI: I'll cut a new release with #123 (v0.11.7) by the end of next week.)

[2022-03-30 10:09] artherd42 commented on #122
I did some more testing ping probes with the different Cloudprober versions. On CoreOS, v0.11.0 was working. Cloudprober v0.11.1 is the last good version on Flatcar Linux 5.15.30. From v0.11.2 onwards, IPv4 ping probes are failing on Flatcar Linux.

[2022-03-30 21:11] manugarg commented on #122
I see. That makes sense. Before v0.11.2 we were using `recvfrom` system call (through ReadFrom Go function), which strips IP header regardless of the socket type. We switched to `recvmsg` so that we can read control messages to find the socket receive timestamp (for better latency measurement).

Thank you so much verifying @artherd42. Much appreciated.

Next release will contain the fix, in the me

[2022-03-30 21:11] #122 closed

[2022-03-31 02:56] manugarg commented on #122
I've added a few tests (#125, #126, #127, #128) to detect the issue reported in this issue. Hopefully that will help us avoid regression in future.

[2022-04-01 09:02] muntakimsadik commented on #106
I tried to put together a pull request to implement this (https://github.com/cloudprober/cloudprober/pull/107). Please let me know if that aligns with how cloudprober is supposed to work.

[2022-04-01 18:13] #106 closed

[2022-04-01 18:14] manugarg commented on #106
@muntakimsadik, sorry for the delay, and thanks for the PR. Merged it.

[2022-04-08 21:14] manugarg commented on #88
Added graphs also, see: #132.

Screenshot: ![image](https://user-images.githubusercontent.com/1286425/162098644-73cb3750-eca3-4f51-9b82-4d490d918a57.png)

[2022-05-05 15:36] agora9 opened #135 "x509: certificate signed by unknown authority"
**Describe the bug**

Cloudprober is configured to probe an https endpoint that has an up-to-date `Let's encrypt` certificate, however, cloudprober produces the following log message:

W0505 15:08:59.359202       1 http.go:328] [cloudprober.<probe_name>] Target:<host_name>, URL:https://<url>/, http.doHTTPRequest: Get "https://<url>/": x509: certificate signed by unknown authority

The endpoint can

[2022-05-05 15:59] manugarg commented on #135
How are you running Cloudprober? One possibility is that it doesn't have access to machine certificates. Cloudprober uses Go's libraries, so wherever they expect CA certificates to be on your system, is where Cloudprober will expect CA certs to be.

On Linux, CA certificates are usually found in:
/etc/ssl/certs/ca-certificates.crt

Dockerfile:
https://github.com/cloudprober/cloudprober/blob/5bec0d

[2022-05-05 16:29] agora9 commented on #135
The /// was caused by a rendering issue. I didn't check the preview of the post. Sorry about the confusion.

[2022-05-06 08:26] agora9 commented on #135
Cloudprober is deployed in Kubernetes and the image is pulled from Dockerhub.

Relevant probe configuration:

[code]

[2022-05-06 17:45] manugarg commented on #135
I see. If you're using the standard docker image, it should have been able to use the bundled CA certs.

I could not reproduce the same error with public websites:
[code]

cat /tmp/cloudprober.cfg:
[code]

This makes me think it's either something about your certificate, or the environment. I'll keep looking, but wanted to give heads up.

[2022-05-06 17:58] manugarg commented on #135
Is there a possibility that kubernetes is changing the one of the following environment variables:
SSL_CERT_FILE
SSL_CERT_DIR

Can you try running cloudprober image only through docker, no kubernetes?

[2022-05-10 08:30] momoXD007 opened #136 "file_targets re_eval option is not working"
**Describe the bug**
When configuring a file-target with the re_eval_sec = 30 I expect that the file-target is reevaluated every 30 seconds and if it changes new targets will be probed or targets that do not exist anymore are not probed anymore.
However, none of that happens. The cloudprober just continues to probe those targets configured at startup and does not care about changes at all.
Upon co

[2022-05-10 08:53] momoXD007 opened #137 "UDP configurable payload"
The current version of the UDP prober sends the hardcoded payload "cloudprober".
However, in practice there are many applications UDP that will simply drop a packet like that, which basically means one has to change the application to make it "probable" with cloudprober.
The source code udp.go in lines 44 ff. even lists this inline as an open todo.

In my case it would help me with a set of applic

[2022-05-10 09:02] momoXD007 opened #138 "UDP Probe add expected payload"
To my understanding UDP-probes do not offer the option to define an expected answer. Meaning a string or byte-sequence the probed endpoint should return if it is healthy.

Looking at the code it seems like the content of the answers received is parsed but simply not used at all later on, it could be interpreted in the following way (pseudo-code)

[code]

[2022-05-11 05:18] manugarg commented on #136
This is indeed a bug[1]. We are not passing along re_eval_sec when Much thanks for reporting this @momoXD007.

I'll submit a fix soon, but in the meantime there is a workaround for this -- you can explicitly use rds_server and rds_targets (that's what happens behind the scene anyway):

[code]

and add this rds_server:
[code]

[1] Bug is this: We are not passing re_eval_sec when we create RDS file

[2022-05-11 05:19] manugarg commented on #137
Sure, this should be an easy change. I'll submit the fix soon.

[2022-05-11 05:20] manugarg commented on #138
We can implement this through validators:
https://cloudprober.org/how-to/validators/

[2022-05-11 12:02] archaron opened #139 "[HTTP Probe] Probe uses HTTP/1.1 instead of HTTP/2.0 when connecting to api.push.apple.com"
**Describe the bug**
I'm trying to probe apple's push API reachability. Target seems to support HTTP/2.0 only.
Docs says that HTTP/2 is enabled by default, but probe have no luck with request.
[code]
As I can see, there is no way to enforce HTTP/2 for specific target. Wish there be an option to do so, like 'enforce_http2'.
We need to set  http.Transport field ForceAttemptHTTP2 to true.

**Cloudpro

[2022-05-11 18:53] manugarg commented on #139
I see that we don't use DefaultTransport which automatically enables ForceAttemptHTTP2. I'll look into it.

[2022-05-11 18:55] manugarg commented on #135
@agora9 Wondering if you got a chance to look at my previous message.

[2022-05-11 19:32] agora9 commented on #135
Sorry about the delay.

These environment variables are *not* set in the container when running inside k8s:
SSL_CERT_FILE
SSL_CERT_DIR

Running cloudprober locally via `docker run` produces the same error message.

[2022-05-13 20:50] manugarg commented on #136
Above commit should fix it.  It will go out in the next release:
v0.11.8: https://github.com/cloudprober/cloudprober/milestone/5

[2022-05-13 20:51] #136 closed

[2022-05-14 00:14] manugarg commented on #139
Last commit should fix this. It will go out in the next release: [v0.11.8](https://github.com/cloudprober/cloudprober/milestone/5).

[2022-05-14 00:14] #139 closed

[2022-05-14 07:04] manugarg commented on #137
@momoXD007 and @tarrychk,

I probably spoke to too soon. We don't send a simple payload, but we send a message with payload. Message contains endpoints, timing data, and payload. If you just change the "inner payload", your UDP server will likely still not recognize the packet.

To give you some background, this probe was written primarily for detecting network issues. Cloudprober comes with a UDP

[2022-05-16 20:55] manugarg commented on #88
I'll go ahead and mark this as resolved. We'll track enabling this probestatus by default in a separate issue.

[2022-05-16 20:55] #88 closed

[2022-05-16 20:59] manugarg opened #143 "Enable probestatus surfacer by default."
This is a follow up for #88,

[2022-05-17 16:13] manugarg opened #144 "External probe starts executing only after the first interval"
We've to fix the following code block in the external probe:
https://github.com/cloudprober/cloudprober/blob/b6411c9d87a2f746bae6817a0c5c79ce92c8659e/probes/external/external.go#L633-L642

[2022-05-17 16:50] manugarg commented on #144
This should be fixed now. It will go out with the next release (some time next week).

[2022-05-17 16:50] #144 closed

[2022-05-19 07:42] manugarg commented on #137
@momoXD007 wondering if you got a chance to look at my last message.

[2022-05-19 10:21] momoXD007 commented on #137
One IPsec Gateway I saw, expects “Ping“ as payload for its UDP healthcheck and sends “Pong” back. A neat Test to see if it works.

I imagine many applications that use UDP would implement a similar mechanism. But it is just an “educated guess”.

[2022-05-25 22:28] manugarg opened #150 "[k8s rds] Kubernetes RDS bug in handling pending pods"
@vadimberezniker reported a bug on [Cloudprober Slack](https://cloudprober.slack.com/archives/C9ZPA5611/p1653508794082209) ([Join Link](https://join.slack.com/t/cloudprober/shared_invite/enQtNjA1OTkyOTk3ODc3LWQzZDM2ZWUyNTI0M2E4NmM4NTIyMjM5M2E0MDdjMmU1NGQ3NWNiMjU4NTViMWMyMjg0M2QwMDhkZGZjZmFlNGE)).

I'm trying to setup k8s service discover and I'm running into a panic:
[code]

He identified the root

[2022-06-03 22:14] #119 closed

[2022-06-03 22:14] #150 closed

[2022-06-05 21:44] manugarg commented on #143
Done through #154.

[2022-06-05 21:44] #143 closed

[2022-06-08 15:27] tarrychk opened #158 "https probe with resolve_first failing due to certificate mismatch"
**Describe the bug**
Using http_probe in HTTPS mode with resolve_first=true option causes certificate mismatch errors because the actual request is done with the resolved ip address *without* setting TLS server_name to the original host name. This can be mitigated by manually configuring tlsconfig.server_name in http_probe, but this falls short when I have multiple targets with different target ho

[2022-06-08 16:19] manugarg commented on #158
Thanks a lot for reporting this issue, @tarrychk. Just to make sure I understand it correctly this issue is not new in v0.11.8, right? It doesn't seem like it should be.

[2022-06-08 18:28] manugarg commented on #158
To record my findings so far, solving this is going to be slightly tricky. There are two possible solutions, none very straightforward:

1. Override transport's `DialTLSContext` function to copy TLSConfig and override ServerName before starting TLS connection. To be able to do this though, DialTLSContext itself should know the target name, but it gets only the _network_ and _addr_  in its argument

[2022-06-10 06:56] manugarg commented on #158
#159 has one possible solution using per target http.Transport.

[2022-06-13 12:48] tarrychk commented on #158
I tested #159 and it fixes the issue for me.

[2022-06-14 07:15] manugarg commented on #158
Thanks a lot for verifying @tarrychk. I've merged the PR.

[2022-06-14 08:57] manugarg commented on #135
I've not been able to reproduce this bug. We recently released a new version of Cloudprober, v0.11.8, which will have the latest certificates. Would you like to try with that?

Also, another thing we may try is running cloudprober outside of docker container and see if that also produces this error. You can download pre-compiled binaries from here:
https://github.com/cloudprober/cloudprober/releas

[2022-06-14 09:30] manugarg commented on #158
Marking this closed. This will go out in the next release: v0.11.9. Next release date is not planned yet, please let me know if you cannot use the "master" tag or the latest binaries, and would like the release to come out sooner.

[2022-06-14 09:30] #158 closed

[2022-06-15 04:21] cbroglie opened #161 "Consider using informers to watch k8s resources rather than listing"
The client-go [informers](https://pkg.go.dev/k8s.io/client-go/informers) package provides utilities to subscribe to changes to k8s resources and keep an in-memory cache up to date. This avoids needing to ask the API server to fetch the list from etcd every refresh interval, and allows probes to always operate on fresh data.

If there's interest, I'd be happy to submit a PR with the necessary chang

[2022-06-22 04:15] tksm opened #165 "External probe: Defunct processes may remain behind after probe timeout"
**Describe the bug**

When we use an external probe that forks a child process, the defunct child process may remain behind after probe timeout.

Since the cloudprober is PID 1 in a container environment, I think the cloudprober should reap defunct processes like `init` does. Alternatively, we can put another entrypoint that can reap defunct processes such as Busybox and [Tini](https://github.com/

[2022-06-22 05:05] tksm commented on #165
In Kubernetes, enabling [`shareProcessNamespace`](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/) also solves this issue because the pause container, [which can reap defunct processes](https://github.com/kubernetes/kubernetes/blame/3beb8dc5967801bcaed4541b307dbcdbd86fda3d/build/pause/linux/pause.c#L37-L40), takes PID 1.

[2022-06-22 10:29] manugarg commented on #165
Thanks a lot @tksm for reporting this issue, a way to reproduce this, and workarounds.

Docker also has a flag that takes care of this: https://docs.docker.com/engine/reference/run/#specify-an-init-process

I'll look into implementing this functionality in Cloudprober itself or change the Dockerfile.

[2022-07-01 02:12] manugarg commented on #165
Looked at this a bit more. The real issue here is that Cloudprober kills the external probe process when probe times out, but it does not kill processes started by the probe process, for example in the example above, it will kill the shell process but it will not kill the `sleep` process started by the shell process.

References:
https://cs.opensource.google/go/go/+/refs/tags/go1.18.3:src/os/exec/

[2022-07-01 12:26] manugarg commented on #165
PR https://github.com/cloudprober/cloudprober/pull/166 has a fix for this. I verified that it doesn't create any defunct processes any more.

[2022-07-01 15:34] dalvizu commented on #26
Correction - it looks like `fqdn` is the label which the HTTP probe inspects:

https://github.com/cloudprober/cloudprober/blob/75b20eb82be1ec143f230804889582dd1087a126/probes/http/request.go#L60-L69

e.g
[code]

[2022-07-01 21:36] manugarg commented on #165
https://github.com/cloudprober/cloudprober/pull/167 has a possible solution using process groups.

[2022-07-05 17:10] manugarg commented on #165
Committed the change. You should be able to test it out using ":master" docker image.

[2022-07-05 23:20] tksm commented on #165
Thank you for implementing this feature!
I confirmed that defunct processes are no longer left behind with the `cloudprober/cloudprober:master` image. 👍

[2022-07-05 23:20] #165 closed

[2022-07-12 19:24] manugarg opened #169 "Add JSON validator to make API probing easy"
We should consider building a JSON validator that can do the following:

- Verify it's a valid JSON.
- Also, look for a specific element in JSON, e.g.:  results[].account_number = 12121412

Something like this will make it easy to test APIs.

[2022-07-21 15:17] shi-ron opened #170 "RDS Server in GKE but targets on GCE"
Hi, can I run cloudprober with RDS server in GKE to discover targets on VM instances? I've tried following configuration
[code]
but the pod in GKE return error
[code]

[2022-07-25 01:05] manugarg commented on #170
Ah, interesting. I see what's going on. This error is coming from here:
https://github.com/cloudprober/cloudprober/blob/4327f4e31317a56a05c86821878a351275496501/rds/gcp/gce_instances.go#L379

Instance name metadata call doesn't always work on GKE. We can fix this. I'll send a PR soon.

[2022-07-25 02:02] manugarg commented on #170
#171 should fix this error.

[2022-07-25 09:04] shi-ron commented on #170
Thank you. I have tried master image. And the new errors are
[code]

[2022-07-26 12:10] shi-ron commented on #170
Thank you. The master image can be deployed in GKE. With the right GOOGLE_APPLICATION_CREDENTIALS, the GCE instances of a project can be successfully probed. Hope the fix shall be available in the latest image soon.

[2022-07-26 12:10] #170 closed

[2022-07-28 08:49] shi-ron opened #174 "more information about error "logging client: rpc error: code = PermissionDenied desc = The caller does not have permission""
Hi,
I'm running the cloudprober in GKE and the pod console continuously returns error
[code]
The service account used have already assigned to the IAM `roles/monitoring.editor` and `roles/monitoring.metricWriter`.
It shall be helpful to give more information about the permission error.

[2022-07-28 19:15] manugarg commented on #174
@shi-ron Can you try disabling the cloud logging completely, using either the `disable_cloud_logging` flag or by setting the environment variable: CLOUDPROBER_DISABLE_CLOUD_LOGGING to "YES".

I think logging permission is separate from the monitoring permissions.

[2022-07-29 12:17] shi-ron commented on #174
Disabling logging works. Thanks.

[2022-07-29 12:17] #174 closed

[2022-08-01 19:24] manugarg commented on #170
Released it today: https://github.com/cloudprober/cloudprober/releases/tag/v0.11.9

[2022-08-08 05:46] morhold opened #175 "errors when running ping tests on raspberry pi3. timestamp control message data size (8) is less than timestamp size (16 bytes)"
**Describe the bug**
errors when running ping tests on raspberry pi3.
timestamp control message data size (8) is less than timestamp size (16 bytes)

The latest versions of cloudprober armv7 have problems with icmp tests. What could this be related to?

**v0.11.9**

**To Reproduce**

[code]
[code]

[2022-08-08 06:56] manugarg commented on #175
This error message is coming from here:
https://github.com/cloudprober/cloudprober/blob/2df3af206576e09cfc4d4a5a4ae8223280b92268/probes/ping/icmpconn_unix.go#L157

It seems that SCM_TIMESTAMP control message has less data on armv7.

[2022-08-08 07:37] morhold commented on #175
Yes, I saw it in the code. The question is, can this be fixed? There was no such error on older versions, and all the probes that we have installed on raspberry pi3 worked properly. Unfortunately, I don't remember that version.

[2022-08-08 07:39] manugarg commented on #175
Initial research suggests that the `timeval` data structure (structure in the SCM_TIMESTAMP control message) is of size 8 (4+4) on ARMv7. Apparently, Unix traditionally used 32-bit for storing time, but most new operating systems use 64-bit now.

Following page talks about this problem:
https://en.wikipedia.org/wiki/Year_2038_problem

[2022-08-08 07:44] manugarg commented on #175
This confirms the suspicion:
https://cs.opensource.google/go/go/+/master:src/runtime/defs_linux_arm.go;l=155;drc=9d34fc5108d91bfcce3c465069dbb2c563af4229
vs
https://cs.opensource.google/go/go/+/master:src/runtime/defs_linux_amd64.go;l=118;drc=9d34fc5108d91bfcce3c465069dbb2c563af4229

I guess we can look at the control message length, and parse it as the older-style 8-byte timeval if its length is

[2022-08-08 08:25] manugarg commented on #175
Possible fix:
https://github.com/cloudprober/cloudprober/pull/176

Here are the built binaries with the possible fix:
https://github.com/cloudprober/cloudprober/suites/7709826541/artifacts/322669843

[2022-08-08 08:38] morhold commented on #175
Great, everything works!

`./cloudprober -config_file test.cfg  -logtostderr
I0808 11:36:03.763636   29754 prober.go:111] [cloudprober.global] Creating a PING probe: icmp_dns_test
I0808 11:36:03.764930   29754 prometheus.go:186] [cloudprober.prometheus] Initialized prometheus exporter at the URL: /metrics
I0808 11:36:03.765344   29754 probestatus.go:165] [cloudprober.probestatus] Initialized statu

[2022-08-08 17:50] manugarg commented on #175
Cool. Thanks for confirming. I've merged the pull request. Changes will be available in the ":master" docker image soon. I'll plan for the release, but it that will take at least a week or two.

[2022-08-09 02:08] #175 closed

[2022-09-06 06:55] manugarg opened #178 "Add support for cuelang based configs"
Cloudprober configs are currently based on protocol buffers and Go text templates. Cloudprober first parses the config files as Go templates and then as text protos (aka textproto). This is not a widely used format for configs in the industry. This limits the adoption of Cloudprober. Also, current configs don't support including other configs, for example, for company wide common options.

We shou

[2022-09-06 17:02] manugarg commented on #178
Look at this code for how to generate Cue schema from .proto files:
https://github.com/fourierr/cue-0.2.2-fix/blob/main/encoding/protobuf/protobuf_test.go

Example input with a bunch of imports:
https://github.com/fourierr/cue-0.2.2-fix/blob/main/encoding/protobuf/testdata/istio.io/api/mixer/v1/mixer.proto
Output:
https://github.com/fourierr/cue-0.2.2-fix/blob/main/encoding/protobuf/testdata/istio

[2022-09-07 06:55] manugarg commented on #178
Experimentation so far:

I tried generating Cue schema from protobufs. Steps:

[code]

Import proto into CUE:
[code]

Create a yaml for testing:
[code]

Validate and eval:
[code]

[2022-09-07 06:59] manugarg commented on #178
Based on the above findings, if we generate CUE schema from proto files, we can write config files in YAML today itself. I think this is great news. I am not sure how robust this will be, but it's encouraging.

[2022-09-07 19:40] manugarg opened #179 "Consider moving to alpine (from busybox) as the base image"
Currently we use busybox [base layer](https://github.com/cloudprober/cloudprober/blob/72da86bcdb5acb3e911c3967cda400d849f0c2f9/Dockerfile#L11) for the Cloudprober docker image. Even though Cloudprober itself doesn't have any dependencies, using busybox restricts any kind of troubleshooting from the Cloudprober container itself. We should consider moving to using alpine as the base image. Alpine li

[2022-09-08 16:48] manugarg commented on #178
https://github.com/cloudprober/cloudprober/pull/181/files shows CUE schema and code to generate CUE schema from proto files.

[2022-09-08 18:36] manugarg commented on #178
Verified with the code[1] that it's loading the schema that takes time (~2.5s). Likely due to the fact that our schema is spread over 40+ files. We don't really want to slow down Cloudprober startup, but this maybe okay for now. We'll only build schema if YAML file is provided.

[1] Code looks like this:
[code]

[2022-09-09 05:22] manugarg opened #182 "[k8s RDS] Allow label selector in RDS server"
A large k8s cluster may have a large number of pods and other resources, especially if you're searching across all namespaces. We should allow using label selectors while listing resources in the k8s provider.

[2022-09-10 02:33] manugarg opened #184 "[rds] Add pagination to various API clients in RDS."
Ideally I'd prefer that we are able to filter resources and not have too many to deal with, but in case we have a really large number, say more than 1000, API requests maybe super slow, and may slow down API servers too -- in some cases, API servers may just truncate resources.

[2022-09-10 02:34] manugarg commented on #182
Also, we can possibly request for limited fields instead of getting a all the resource fields.

[2022-09-10 02:51] manugarg commented on #182
Scratch that. Looks like it's an API option.

[2022-09-10 02:51] manugarg commented on #182
#183 implements this.

[2022-09-14 07:25] #182 closed

[2022-09-15 17:13] manugarg commented on #178
I've been experimenting a bit more and found another issue.

By the above method, enums end up showing as strings in the generated textproto (see the type field [here](https://github.com/cloudprober/cloudprober/issues/178#issuecomment-1238983045)), i.e. because neither YAML nor CUE have the concept of enums.

I think that's because when CUE converts CUE values to textproto, it doesn't look at prot

[2022-09-20 17:13] ericayyliu opened #187 "Support resolving IP Range in RDS client"
If the RDS resources' IP is a IP range, e.g. GCP IPv6 forwarding rule, we want the RDS client to parse the cidr and return IP Address.

https://github.com/cloudprober/cloudprober/blob/master/rds/client/client.go#L152

[2022-09-20 23:58] manugarg commented on #187
@ericayyliu Can you please share how does this IP appear in the GCE forwarding rules resources? It will also be helpful to understand how are you using Cloudprober.

[2022-09-21 00:00] ericayyliu commented on #187
An example IPv6 forwarding-rule
{
  "IPAddress": "fd20:d21:6fe3:3800:0:5:0:0/96",
  "IPProtocol": "TCP",
   "backendService": "https://www.googleapis.com/compute/v1/projects/ilb-ipv6-cep/regions/europe-west1/backendServices/backend-service-eu-w1-cep",
   "ipVersion": "IPV6",
   "kind": "compute#forwardingRule",
   "loadBalancingScheme": "INTERNAL",
   "name": "forwarding-rule-eu-w1-cep",
   "netwo

[2022-09-21 00:02] ericayyliu commented on #187
When I run the ./cloudprober locally, in this code path, https://github.com/cloudprober/cloudprober/blob/master/rds/client/client.go#L152, when the IPAddress is a cidr range, the net.ParseIP will return nil, and it falls back to the dnsResolver

[2022-09-21 00:22] manugarg commented on #187
@ericayyliu Ack. I'll try to send a fix. Just curious, are you using it at Google? :)

[2022-09-21 01:14] manugarg commented on #187
I think https://github.com/cloudprober/cloudprober/pull/188 should help.

[2022-09-21 06:23] manugarg commented on #178
Some improvisation: #189. In this change we replace enum fields in the following manner: `ip_type: "PUBLIC"` will get replaced by `ip_type: PUBLIC` in the generated textproto. With this change, Cloudprober will happily take the config like the following:

[code]

[2022-09-21 17:16] ericayyliu commented on #187
Thank you so much @manugarg for fixing this instantly! Yes I am working in Google now :)

[2022-09-21 17:22] ericayyliu commented on #187
Actually when I was debugging this for the first time I thought the issue could be in https://github.com/cloudprober/cloudprober/blob/master/targets/gce/forwarding_rules.go#L76, because here it doesn't parse CIDR either. So I am wondering if we will need to fix that also.

[2022-09-21 17:52] manugarg commented on #187
Thank you for debugging. Fix was rather simple.

That's the old way of expanding forwarding rules. I didn't get a chance to fully remove it, or implement it through RDS like how I did it for GCE instances. If you're using `rds_targets {}` you should be good. Can you confirm?

[2022-09-21 22:39] ericayyliu commented on #187
Yes we are using the rds_target, and inside the config we specify the forwarding_rule path and name etc.

[2022-09-21 22:40] manugarg commented on #187
Cool. You should be all set then.

[2022-09-21 22:42] ericayyliu commented on #187
Great to know that!

[2022-09-22 00:42] manugarg commented on #187
@ericayyliu Closing this issue. Please feel free to reopen if problem continues.

[2022-09-22 00:42] #187 closed

[2022-09-27 17:36] manugarg opened #191 "[common.oauth] Support JSON format from Bearer token sources"
See this: https://github.com/cloudprober/cloudprober/blob/master/common/oauth/proto/config.proto

Currently bearer token type expects file and command sources to return only access token string. We should support reading JSON as well, so that we can get additional information about the token, e.g. expiration time (typically: expires_in).

[2022-09-28 01:36] manugarg commented on #179
Switched to the alpine image. Tested the new docker image with ":master" tag. I didn't notice any issue.

[2022-09-28 01:37] #179 closed

[2022-09-28 20:30] manugarg opened #192 "export_as_gauge is not working anymore for HTTP probes"
We found out recently (thanks to folks who caught the issue and reported it in the slack channel), that export_as_gauge is not working as expected. Even if someone uses the [export_as_gauge](https://github.com/cloudprober/cloudprober/blob/d9cb63cf23513e9bb1ea8778ad1666ef6b76b8f6/surfacers/proto/config.proto#L86) field, Cloudprober ends up reporting cumulative metrics (counters).

This bug was intr

[2022-09-28 20:45] #192 closed

[2022-09-29 09:14] manugarg commented on #169
We can probably use jq like syntax to specify JSON queries. Here is a pure Go implementation of jq that we can use: https://github.com/itchyny/gojq

[2022-10-01 22:20] manugarg commented on #169
Once we add something like this, we can probe and verify most of the APIs without writing any code at all, just by using HTTP probe type:

- For authentication we can use an external program that fetches the access token (program itself could cache token on a file) and call it through Cloudprober's OAuth config's [cmd option](https://github.com/cloudprober/cloudprober/blob/7c9c43de28cc0a6dc70419cd

[2022-10-06 19:06] manugarg commented on #169
Example jq filters:
<json_string> | gojq '.results[] | select(.tradability = "tradable") | .id'
<json_string> | gojq '.results[] | select(.cumulative_quantity|tonumber > 5000) | .id'

Following return true or false, depending on if one of the result's side is buy or not:
gojq '[.results[].side] | any(index("buy"))'

[2022-10-20 23:40] manugarg commented on #169
This is done through #194. See https://github.com/cloudprober/cloudprober/blob/master/validators/json/json_test.go for some examples.

[2022-10-20 23:40] #169 closed

[2022-10-21 21:14] pugmajere opened #196 "[k8s rds] Resources discovered on k8s use made up names and not IPs for probing"
**Describe the bug**

Discovering endpoint resources on k8s for HTTP probes results in errors like this:

W1021 20:59:13.816516       1 http.go:307] [cloudprober.sdc-service-edge] Target:edge_10.10.88.28_service-discovery, URL:https://edge_10.10.88.28_service-discovery:9090/ready, http.doHTTPRequest: Get "https://edge_10.10.88.28_service-discovery:9090/ready": dial tcp: lookup edge_10.10.88.28_ser

[2022-10-21 22:33] manugarg commented on #196
Actually there is an easy fix for it (we should not even required that fix though, I'll see how we can do that), you just need to add the following field to http_probe stanza:

https://github.com/cloudprober/cloudprober/blob/5128a133a11a9cd51c1d63f02b9131be370a28ae/probes/http/proto/config.proto#L43

[2022-10-21 22:40] pugmajere commented on #196
Nice. I'll try that now.

[2022-10-21 23:45] manugarg opened #197 "[probes.http] Automatically decide if we should resolve_first"
For example, there is no point in not using resolve_first for k8s endpoints targets. See #196 for more details.

I guess we can add a label to resources to signify their type and use that label to resolve first, or we could add a generic features label to such resources. For example:

[code]

[2022-10-22 00:22] manugarg commented on #196
Filed #197 for this.

[2022-10-24 17:29] manugarg commented on #196
@pugmajere, Ryan, did it work?

[2022-10-24 20:18] manugarg commented on #197
#198 and #199 should take care of it.

[2022-10-25 19:08] #196 closed

[2022-10-26 01:46] manugarg commented on #196
I tested #198 in a local cluster and it's working as expected.

@pugmajere I noticed you're specifying port inside http_probe. You can skip that. Cloudprober will just use the endpoint's port if port is not configured.

[2022-10-26 06:55] manugarg opened #204 "Improve probe status page UI from style point of view."

[2022-10-26 19:58] pugmajere commented on #196
Yeah, it's working now. Thanks!)

[2022-10-28 17:07] michaelsatanovsky opened #206 "Cloudprober on Google Cloud Run"
I have been trying to set up Cloudprober to run on Google Cloud's Cloud Run from the image listed on docker. However, I've run into issues with it.

I get a general error:
`The user-provided container failed to start and listen on the port defined provided by the PORT=9313 environment variable.`

And more specific errors within the logs:
`cloudprober.go:134] Error reading config from metadata. Err

[2022-10-28 17:42] manugarg commented on #206
@michaelsatanovsky thanks for reporting this.

There is a workaround for this. You can add the following flag to the command line to disable getting cloud metadata: `--cloud_metadata=none`.

This error is coming from the fact Cloudprober is discovering it's running on Google cloud, but it's not able to get certain metadata variables. On kubernetes we return early: https://github.com/cloudprober/cl

[2022-10-28 17:43] #197 closed

[2022-10-28 17:43] manugarg commented on #197
I've tested it myself, over a local k8s setup, that this works.

[2022-10-28 19:03] manugarg opened #207 "Add build timestamp to the built binary"
We can show this info on the /status and /config-running pages.

[2022-10-28 19:05] manugarg commented on #207
This is how the top header looks like today:
![image](https://user-images.githubusercontent.com/1286425/198713117-b267c27e-6f8b-422d-aeaa-2cc281227f92.png)

[2022-11-08 21:10] brunosimsenhor opened #214 "Lameduck logging errors on HealthCheck handler"
The health check endpoint is logging some errors about `lameduck`.

[code]

**Cloudprober Version**: v0.12.0

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy CloudProber into a EKS cluster, simple deployment with a single replica and liveness and readiness probes set to `/healthcheck`.
2. Watch the logs.

**Additional context**
[code]

[2022-11-08 23:52] manugarg commented on #214
@brunosimsenhor The following HTTP server is for an entirely different purpose:

[code]

It's for Cloudprober to act as an HTTP target, possibly for another Cloudprober instance. This kind of probing probing is useful if all you want to make sure is that your HTTP load balancer is working fine. And, this is the server that provides the /healthcheck endpoint.

I think you can drop this server stanz

[2022-11-10 06:05] manugarg commented on #214
@brunosimsenhor Wondering if you were able to resolve this?

[2022-11-14 13:19] matrog opened #217 "negative gauge value not supported for external probes"
the external probe does not support negative gauge values which is an issue since a negative value is totally accepted in prometheus gauge definition

https://prometheus.io/docs/concepts/metric_types/

and float64 of course supports negative values.

Why this limitation in Cloudprober?

I would like to measure temperature which can go under 0 but it's currently not possible.

metrics/metrics.go
[c

[2022-11-16 23:04] manugarg commented on #217
This is an interesting scenario. We don't even parse negative values:
https://github.com/cloudprober/cloudprober/blob/d3c7f47a9c2fbb1d9ba716da4467c8340c70ea4e/metrics/metrics.go#L49

I'll try to fix it soonish.

[2022-11-17 07:29] matrog commented on #217
Thanks @manugarg

[2022-11-25 23:10] dawid-remitly opened #219 "Example config cause panic"
**Describe the bug**
Running test config from https://cloudprober.org/getting-started/ cause *panic*

**Cloudprober Version** v0.12.1

**To Reproduce**
[code]

**Additional context**
tested on darwin-x86_64 and darwin-arm64, same result

[2022-11-25 23:32] manugarg commented on #219
Good catch. Last change made http_probe a requires stanza. You can fix it for now by adding an empty http_probe stanza to your probe config. I'll follow up with a fix soon.

[2022-11-28 07:03] fguendling opened #220 "README.md uses outdated StackDriver term"
Hi, I immediately get the feeling that something is outdated when I read StackDriver. I propose changing the text in the picture and the text in the README.md to Operations Suite. I would proceed with a PR if you give me a thumbs up?